@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #1A1A1D;
    color: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: right;
    height: 80px;
    padding: 0 10px;
    background-color: #2C2F32;
    position: fixed;
    bottom: 0;
}

header img {
    width: 30px;
}

.open-menu-icon {
    z-index: 10;
    position: absolute;
    left: 10px;
    top: 25px;
    cursor: pointer;
}

.close-menu-icon {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
}

header nav {
    height: auto;
    width: 100%;
    transition: 0.4s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.user-information {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.overview-body-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.overview-body-wrapper h1 {
    width: 60%;
    text-align: left;
    margin: 16px 0 8px 0;
}

.overview-body-wrapper h2 {
    width: 100%;
    text-align: left;
}

.calender-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #2C2F32;
    border-radius: 12px;
    padding: 16px 32px;
    position: relative;
}

.calender-wrapper h2 {
    font-size: 16px;
    font-weight: 600;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, auto);
    row-gap: 4px;
}

.calender p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 4px 8px;
}

.calender a {
    text-decoration: none;
}

.calender a:hover {
    opacity: 50%;
}

.day {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todaysdate {
    background-color: #950740;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows {
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}

img#left_calendar_arrow, img#right_calendar_arrow {
    cursor: pointer;
}

